@CHARSET "UTF-8";

#info
{
	position:absolute;
	top:17%;
	left:33%;
	font-size:30px;
	color:#455155;
	overflow-y:auto;
}

.formcss
{
	width:200px;
	height:30px;
	font-size:25px;
}

.selectcss
{
	width:200px;
	height:30px;
	font-size:25px;
}

#submitcss
{
	font-size:20px;
	position:fixed;
	bottom:10%;
	right:10%;
	width: 365px;
	height: 40px;
	color: white;
	background-color: #06c;
	border: 1px solid #09F;
	margin: auto;
}

#ultype_analysis
{
	list-style-type: none;
	padding: 0px 200px 0px 2px;
}

#analysis_son
{
	position:absolute;
	top:30%;
	left:33%;
	font-size:30px;
	color:#455155;
}