@CHARSET "UTF-8";
#info
{
	position:absolute;
	top:27%;
	left:27%;
	width:1000px;
	font-size:25px;
	color:#455155;
	overflow-y:auto;
}

.formstyle
{
	width:150px;
	height:30px;
	font-size:20px;
	color:#455155;
}

