#nav
{
	text-align:center;
	margin-top:auto;
	float:left;
	position:relative;
	height:30px;
	width:70%;
	top:150px;
	left:15%;
}

#nav ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
#nav  li a{
	text-decoration: none;
	color: #000;
	font-size:24px;
	float:left;
	width:21%;
	height:30px;
	
}
#nav li a:hover
{
		color: #f90;
}
#exit a
{
	 text-align:right; 
	font-size:18px;
	text-decoration: none;
	color: #000;
}
#exit
{
	height:30px;
	width:8%;
	top:8px;
	float:right;
	position:relative;
	/* vertical-align:bottom; */
}