@CHARSET "UTF-8";

#button_addmessage
{
	position:absolute;
	top:20%;
	left:30%;
	font-size:20px;
	width: 365px;
	height: 40px;
	color: white;
	background-color: #06c;
	border: 1px solid #09F;
	margin: auto;
}

#addedmessage
{
	position:absolute;
	top:30%;
	left:30%;
}

.add
{
	position:absolute;
	top:20%;
	left:15%;
	font-size:30px;
	color:#455155;
}

.button_dealwithmessage
{
	font-size:20px;
	width: 80px;
	height: 30px;
	color: white;
	background-color: #06c;
	border: 1px solid #09F;
	margin: auto;
}

.input_css
{
	width:300px;
	height:30px;
	font-size:25px;
	color:#455155;
}
