@CHARSET "UTF-8";

#button_addmessage
{
	position:absolute;
	top:20%;
	left:30%;
	font-size:20px;
	width: 365px;
	height: 40px;
	color: white;
	background-color: #06c;
	border: 1px solid #09F;
	margin: auto;
}

#div_add
{
	position:relative;
	bottom:-35%;
	left:30%;
	font-size:25px;
	color:#455155;
}

#addedmessage
{
	position:relative;
	top:25%;
	bottom:30%;
	left:30%;
	font-size:25px;
	color:#455155;
}