@CHARSET "UTF-8";

#info2 {
	position: absolute;
	top: 17%;
	left: 30%;
	font-size: 30px;
	color: #455155;
	overflow-y: auto;
}

#info {
	position: absolute;
	top: 40%;
	left: 27%;
}

#tablecss {
	font-size: 25px;
	color: #455155;
}

.twh {
	width: 200px;
	height: 30px;
}