<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>data_collect_system</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.bit.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>com.bit.servlet.reportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyEnterpriseInfoServlet</servlet-name>
    <servlet-class>com.bit.servlet.modifyEnterpriseInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>enterpriseQueryData</servlet-name>
    <servlet-class>com.bit.servlet.enterpriseQueryData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>com.bit.servlet.exitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProQueryReportServlet</servlet-name>
    <servlet-class>com.bit.proservlet.ProQueryReportServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ProQueryEnterpriseServlet</servlet-name>
    <servlet-class>com.bit.proservlet.ProQueryEnterpriseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProBackReportServlet</servlet-name>
    <servlet-class>com.bit.proservlet.ProBackReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProPutRecordServlet</servlet-name>
    <servlet-class>com.bit.proservlet.ProPutRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProQueryDataByMultiple</servlet-name>
    <servlet-class>com.bit.proservlet.ProQueryDataByMultiple</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/servlet/reportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyEnterpriseInfoServlet</servlet-name>
    <url-pattern>/servlet/modifyEnterpriseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>enterpriseQueryData</servlet-name>
    <url-pattern>/servlet/enterpriseQueryData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/servlet/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProQueryReportServlet</servlet-name>
    <url-pattern>/servlet/ProQueryReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProQueryEnterpriseServlet</servlet-name>
    <url-pattern>/servlet/ProQueryEnterpriseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProBackReportServlet</servlet-name>
    <url-pattern>/servlet/ProBackReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProPutRecordServlet</servlet-name>
    <url-pattern>/servlet/ProPutRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProQueryDataByMultiple</servlet-name>
    <url-pattern>/servlet/ProQueryDataByMultiple</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>