@CHARSET "UTF-8";
#second_navigation1{
	left: 30%;
	top: 20%;
	width: auto;
	height: 30px;
	position: fixed;
	font-family: '隶书';
	font-size: 30px;
	text-align: center;
	border: 0.5px dashed;
}
#third_navigation1{
	left: 42%;
	top: 20%;
	width: auto;
	height: 30px;
	position: fixed;
	font-family: '隶书';
	font-size: 30px;
	text-align: center;
	border: 0.5px dashed;
}
#forth_navigation1{
	left: 54%;
	top: 20%;
	width: auto;
	height: 30px;
	position: fixed;
	font-family: '隶书';
	font-size: 30px;
	text-align: center;
	border: 0.5px dashed;
}
#fifth_navigation1{
	left: 66%;
	top: 20%;
	width: auto;
	height: 30px;
	position: fixed;
	font-family: '隶书';
	font-size: 30px;
	text-align: center;
	border: 0.5px dashed;
}

#ultype0{
	list-style-type: none;
	padding: 2px 0px 2px 0px;
}

.liheight0{
	width:auto;
}

.indextype0{
	text-decoration: none;
	color: #455515;
}

#list_query{
	left: 25%;
	top: 35%;
	position: fixed;
	font-family: '隶书';
	font-size: 20px;
}

.checkbox{
	width:60px;
}